<form [formGroup]="albumForm" (ngSubmit)="this.onSubmit()">
  <div class="form-group">
    <label for="name">Nom:</label>
    <input formControlName="name" type="text" class="form-control" id="name" aria-describedby="emailHelp" placeholder="Entrer le nom de l'artiste">
    <div *ngIf="name.invalid && name.touched" class="alert alert-danger">
      <div *ngIf="name.errors.required">
        Le nom est requis
      </div>
      <div *ngIf="name.errors.minlength">
        Le nom doit avoir 5 caractère minimum
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="duration">Duration:</label>
    <input formControlName="duration" type="text" class="form-control" id="duration" aria-describedby="emailHelp" placeholder="Entrer la duration">
    <div *ngIf="duration.invalid && duration.touched" class="alert alert-danger">
      <div *ngIf="duration.errors.required">
        La durée est requise
      </div>
      <div *ngIf="duration.errors.minlength">
        Le nom doit avoir 1 caractère minimum
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="ref">Ref:</label>
    <input formControlName="ref" type="text" class="form-control" id="ref" aria-describedby="emailHelp" placeholder="Entrer la référence">
    <div *ngIf="ref.invalid && ref.touched" class="alert alert-danger">
      <div *ngIf="ref.errors.required">
        La référence est requise
      </div>
      <div *ngIf="ref.errors.minlength">
        Le nom doit avoir 3 caractère minimum
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="title">Title:</label>
    <input formControlName="title" type="text" class="form-control" id="title" aria-describedby="emailHelp" placeholder="Entrer un titre">
    <div *ngIf="title.invalid && title.touched" class="alert alert-danger">
      <div *ngIf="title.errors.required">
        Le titre est requit
      </div>
      <div *ngIf="title.errors.minlength">
        Le nom doit avoir 3 caractère minimum
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="desc">Description:</label>
    <input formControlName="desc" type="text" class="form-control" id="desc" aria-describedby="emailHelp" placeholder="Entrer la description">
    <div *ngIf="desc.invalid && desc.touched" class="alert alert-danger">
      <div *ngIf="desc.errors.required">
        La durée est requise
      </div>
      <div *ngIf="desc.errors.minlength">
        Le nom doit avoir 5 caractère minimum
      </div>
    </div>
  </div>
  <button type="submit">Envoyer</button>
</form>
